* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 134, 90);
    margin: 0.5vw;
}

header {
    margin: 3vh;
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(246, 250, 0);
    font-size: 4em;
}

.principal {
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.imagen {
    margin: 5px;
}

img {
    border: 12px solid white;
}